@import "../../../variables.scss";

.footer {
  height: 50px;
  padding: 20px;
  border-top: 1px solid $border-color-light;

  @media (prefers-color-scheme: dark) {
    border-top: 1px solid $border-color-dark;
  }
}