@import "../../../variables.scss";

.footer {
  height: 50px;
  padding: 20px;
  margin-bottom: 20px;
  border-top: none;

  @media (prefers-color-scheme: dark) {
    border-top: none;
  }
}

.footer-logo {
  max-height: 30px;
  width: auto;
  margin-right: 10px;
}

.ms-nav-logo {
  max-width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}