@import "./variables.scss";

html {
  height: 100%;
}

body {
  line-height: 1;
  height: 100%;
  background-color: $default-color;
  color: $font-text-light;

  @media (prefers-color-scheme: dark) {
    background-color: $background-dark;
    color: $font-text-dark;
  }
}

body,
button,
input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

#root {
  height: 100%;
}

a {
  color: $primary-color;
  @media (prefers-color-scheme: dark) {
    color: $primary-color-dark;
  }
}

a,
button,
input,
select,
textarea,
.focusable,
#main {
  &:focus {
    outline: 2px dashed $background-dark;

    @media (prefers-color-scheme: dark) {
      outline: 2px dashed $background-light;
    }
  }
}
