@import "../../../variables.scss";

.nav-root {
  width: 400px;
  padding: 20px;
  height: 100%;
  border-right: none;

  @media (prefers-color-scheme: dark) {
    border-right: none;
  }
}

.brand {
  display: block;
  margin-bottom: 30px;
}

.left-nav-items {
  display: flex;
  flex-direction: column;
  align-items: normal;
  padding: 20px;
}

.nav-logo {
  max-height: 30px;
  width: auto;
}
