@import "../../../variables.scss";

.dropdown-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.dropdown-label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 1em;
}

.dropdown-root {
  display: block;
  width: 100%;
  min-width: 200px;
  font-size: 1em;
  padding: 12px;
  border: 1px solid $border-color-light;
  border-radius: 15px;

  @media (prefers-color-scheme: dark) {
    background-color: $input-background-dark;
    border: 1px solid $border-color-dark;
    color: $font-text-dark;
  }
}
