@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Nova+Mono&family=Seaweed+Script&family=Chakra+Petch:wght@300;400;500&display=swap');


body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }

button {
    padding: 0;
    border: none;
    background: none;
    font-family: 'Nova Mono', monospace;
    color: black;
    border-radius: 15%;
    text-align: center;
    background-image: linear-gradient(to right, #009245, #4D9C41, #54DE5D);
    box-shadow: 0 4px 15px 0 rgba(144, 114, 68, 0.75);
    transition: all .4s ease-out;
    moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

button:hover{
    background-image: linear-gradient(to right, #c8b08b, #b89968, #907244);
    box-shadow: 0 4px 15px 0 rgba(0, 146, 69, 0.75);
}

button:focus {
    outline: none;
}

footer{
    position:fixed;
    left:0px;
    bottom:0px;
    height:100px;
    width:100%;
    background-color: black;
    /*padding: 20px;
    margin-top: 2.5%;
    display: flex;
    justify-content: space-between;*/
}

#canvas{
    position:absolute;
    left:0;
    top:0;
    z-index:-1;
}

h1{
    font-family: 'Chakra Petch', sans-serif; 
    font-weight: 500;
    /*'Major Mono Display', monospace;*/
    font-size: 40pt;
    padding: 40px 0 0 0;
    z-index: 2;
}

h2{
    z-index: 2;
    opacity: 100%;
    font-size: 16pt;
    padding: 2%;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
}

.center-adjacent{
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center{
    width: 900px;
    height: 550px;
    border-radius: 25px;
    background: rgba(192, 192, 192, 0.37);
    margin: 2% auto;
    z-index: 1;
    display: flex;
    border: 2px solid #B08D57; 
    overflow: auto;   
}



p{
    z-index: 2;
    opacity: 100%;
    padding: 5%;
    font-size: 16pt;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 300;
}

.sample {
	font-size:4em;
	text-align:center;
	line-height:1em;
	font-weight:bold;
	color: transparent;
	background: repeating-linear-gradient(0deg, #19911D 0.1em, #4D9C41 0.2em, #54DE5D 0.3em, #4D9C41 0.4em, #19911D 0.5em);      
	-webkit-background-clip: text;
}

.career-prompt{
    font-family: 'Nova Mono', monospace;
    font-size: 18pt;
}

.career-text{
    font-family: 'Nova Mono', monospace;
    font-size: 10pt;
    padding: 2%
}

.submit-button{
    width: 100px;
    height: 35px;
    margin-left: 10px;    
}

#TTS {
    width: 300px;
    height: 30px;
}

#prompt {
    float: left;
    margin-left: 5%;
    height: 35px;
    width: 400px;
    border: 0.75px solid #B08D57; 
    border-radius: 5px; 
    font-family: 'Nova Mono', monospace;
    font-size: 13pt;
    background-color: rgba(250, 249, 246, 0.5);
}

#prompt:focus{
    outline: none !important;
    border: 1.5px solid #B08D57;
}

.game-options {
    display: flex;
    align-items: center;
    justify-content: center;
}

.optionBtn {
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
    padding: 2px;
    margin-bottom: 8%;
    width: 150px;
    height: 45px
}

.chatGPTResp {
    overflow: hidden;
}

.logo{
    height: auto;
    width: 100px;
    left: 0px;
    right: 0px;
    margin-left: auto;
}

img{
    max-width: 100%;
    height: auto;
    left: 0px;
    right: 0px;   
}

.scrollbar
{
	/*margin-left: 30px;*/
	float: left;
	height: 300px;
	overflow-y: scroll;
    overflow-x: hidden;
    min-height: 545px;
}

.force-overflow
{
	max-height: 500px;
}

#style-15::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	border-radius: 10px;
}

#style-15::-webkit-scrollbar
{
	width: 10px;
	/*background-color: #F5F5F5;*/
}

#style-15::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	/*background-color: #FFF;*/
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#4D9C41),
									   to(#19911D),
									   color-stop(.6,#54DE5D))
}




