.text-field-container {
  margin-bottom: 20px;
}

.text-field-label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 1em;
}

.text-field {
  display: block;
  width: 100%;
  font-size: 1em;
}

.text-area {
  width: 100%;
  min-height: 200px;
  font-size: 1em;
}
