@import "../../../variables.scss";

.header-root {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid $border-color-light;

  @media (prefers-color-scheme: dark) {
    border-bottom: 1px solid $border-color-dark;
  }
}

.brand-link {
  text-decoration: none;
  color: default;
}

.brand {
  font-size: 1.125em;
  font-weight: 600;

  color: $font-text-light;

  @media (prefers-color-scheme: dark) {
    color: $font-text-dark;
  }
}

.header-logo {
  max-height: 50px;
  // height: 30px;
  width: auto;
  margin-right: 10px;
}
