.header-container {

}

.content-container {
  display: flex;
  flex-direction: row;
  padding-top: 90px;
  height: 100%;
}

.main-container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 20px;
  flex-grow: 1;
}

.start-screen-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

// .game-screen-center {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   height: 100%;
//   margin: 50px 0;
// }

.game-screen-margin-top {
  margin-top: 50px;
}

.game-screen-content-margin {
  margin: 50px 0;
}

.footer-container {
  flex-shrink: 0;
}

.careercraft-logo-start {
  max-width: 150px;
  height: auto;
  margin-bottom: 100px;
}
