.content-container {
  display: flex;
  flex-direction: row;
  padding-top: 90px;
  height: 100%;
  
}

.main-container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
}

.main {
  padding: 20px;
  flex-grow: 1;
}

.start-screen-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.game-screen-margin-top {
  margin-top: 50px;
}

.game-screen-content-margin {
  margin: 50px 0;
}

.footer-container {
  flex-shrink: 0;
}

.careercraft-logo-start {
  max-width: 150px;
  height: auto;
  margin-bottom: 100px;
}

.careercraft-award-logo {
  max-width: 200px;
  height: auto;
  margin-bottom: 20px;
  margin-top: 50px;
}

.career-image {
  display: flex;
  max-width: 512px;
  height: auto;
  width: auto;
  margin-bottom: 20px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.team-member {
  padding: 8px 0;
  border-bottom: 1px solid #e0e0e0;
}

.contact-link {
  // color: #333;
  text-decoration:underline;
}

.vote-button {
  max-width: 200px;
  height: auto;
}